.home {
  background-color: rgb(32, 28, 28);
}

@media screen and (max-width: 500px) {
  .home{
    display: block;
   }
   .home-container{
    width:100vw;
   }

  .changing-text {
    font-size: 60px !important;
  }

.three{
  height:60vh !important;

}
.threesixty {
  font-size: 90px !important;
  margin-right: 10px !important;
}


}

@media screen and (max-width: 900px) {
 .home{
  display: block;
 }
 .home-container{
  width:100vw;
 }

  .threesixty {
  margin-left: 0vw !important;
 }
 .three{
  position: absolute;
  top: 58% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  height:80vh;
 }
 .home-banner{
  align-items: center !important;
  margin-top: 30vh;
 }

}



@media screen and (max-width: 1130px) {

.threename{
  display:none;
}
 .changing {
  margin-left: 0vw !important;
 }

 .Liq{
  display: none !important;
 }
 .home-yt {
  margin-left: 0px !important;
  width:100vw;
  justify-content: center !important;
 }
 .home-banner{

 }
 .products {
  justify-content: center;
  width:100vw;
  margin-left: 0px !important;
 }
 .home{
  display: block;
 }
 .home-container{
  width:100vw;
 }

  .threesixty {
  margin-left: 0vw !important;
 }
 .three{
  position: absolute;
  top: 58% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  height:80vh;
 }
 .home-banner{
  align-items: center !important;
  margin-top: 30vh;
 }

}





.home-container {
  background-color: rgb(32, 28, 28);
  height: 100vh;
  box-shadow: 0 0px  rgba(0, 0, 0, 0.3), 0 0px 0px rgba(0, 0, 0, 0.22);
  overflow-x: clip;

}

.three {
  position: absolute;
  z-index: 0;
  width: 600px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  height:400px;
max-width: 95vw;

}

.home-banner {
  min-height: 100vh;;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width:100vw;
}


.banner-bottom-link {
  color: white;
  text-decoration: none;
  font-family: 'Exo';
  margin-top: 25px;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-left: 10px;
  margin-right: 10px;
}
.threesub {
  z-index: 2;
  color: grey;
  font-family: 'Antonio';
  font-weight: 200;
  font-size: 40px;
  font-size: clamp(2rem,6vw,3rem);
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  overflow: hidden;
}
#akat {
  color: rgb(107, 1, 1) !important;
}
.threesixty {
  color: rgb(100, 1, 100);
  font-family: 'Antonio';
  font-weight: bold;
  font-size: clamp(8rem,15vw,10rem);
  float: left;
  display:flex;
margin-left: 27vh;
}

.threename {
  z-index: 0;
  color: rgb(78, 78, 78);
  font-family: 'Antonio';
  font-weight: 600;
  font-size: 10vw;
  overflow: hidden;
  transform: rotate(90deg);
  position: absolute;
  top: 38%;
  left:62%;
  width:800px;
  text-align: center;
}
















.Liq {
  background-color: rgb(32, 28, 28);

  font-family: 'Antonio';
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  margin-bottom: 90px;
}
.product-category-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;;
  margin-left: 0px;
  margin-top: -50px;
}
.Liq-text {
  margin-left: 60px;
  margin-bottom: 90px;
}

.word {
  color: rgb(78, 78, 78);
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.Liq-container {
  text-align: center;
  color: grey;
  justify-content: space-between;
}

.home-yt {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
display: flex;
justify-content: flex-end;

}











.Products-title {
}

.Products-rows {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.products {
  width:98vw;
  margin: 80px;
  margin-left: 150px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


@media screen and (max-width: 1313px) {
  .Products-rows {
    justify-content: space-between;
    overflow-x: none;
  }
}

.Products-title {
  padding-top: 30px;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-family: 'Exo';
  font-size: 50px;
}




.changing {
  color: rgb(162, 162, 162);
  font-size: 50px;
  text-align: center;
}
.changing-text {
  font-family: 'Antonio';
  font-size: clamp(6rem,15vw,10rem);
  font-weight: bold;
}
#spin {
  color: rgb(107, 1, 1);
}
#spin:after {
  content: '';
  animation: spin 0.7s linear infinite;
}
@keyframes spin {
  0% {
    content: 'Max';
  }
  50% {
    content: 'Force';
  }
  100% {
    content: 'Jordans';
  }
}
