.Nav-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.Nav {
  background-color: rgb(32, 28, 28);
  height: 100vh;
  position: fixed;
  border-right: 1px solid grey;

}

.nav-image {
  height: 50px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px;
}

.nav-link {
  margin-bottom: 70px;
  color: darkgray;
}

#nav-link-mobile{
  display:none;
}







/* Responsive */


@media screen and (max-width: 1100px) {
  .Nav-container{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  }
  .Nav{
    display: block;
    height:14vh !important;
    position: fixed;
    top:0;
    width:100%;
    border-right: none;
    border-bottom: 1px solid grey;
  }
  .nav-link{
    margin-top: 30px;
  }

}
@media screen and (max-width: 500px) {
  .nav-link{
    display:none;
  }
  #nav-link-mobile{
    display:inline !important;
  }
}
