.Product-container {
  display: inline-block!important;
  flex-direction: column!important;
  text-align: right!important;
  margin-bottom: 20px!important;
  width: clamp(150px,328px,328px)!important;
  min-height: 350px!important;
  margin-left: 100px!important;
  border: 3px solid transparent!important; /* add this line */
  background-color: rgb(42, 41, 41)!important;
  letter-spacing: 1px!important;
  overflow-x: clip!important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)!important;
}

.product-img {
  height: 300px!important;
  margin-left: -140px!important;
}
.product-name {
  position: relative!important;
  text-align: center!important;
  display: block!important;
  transform: rotate(-90deg)!important;
  margin-top: -140px!important;
  margin-left: -250px!important;
  text-decoration: none!important;
  color: grey!important;
  font-family: 'Antonio'!important;
  font-size: 25px!important;
  font-weight: BOLD!important;
  min-width: 150px!important;
}
.Product-link {
  text-decoration: none!important;
}
.product-price {
  display: block!important;
  margin-top: 120px!important;
  margin-right: 5px!important;
  text-decoration: none!important;
  color: red!important;
  font-family: 'Antonio'!important;
  font-size: 25px!important;
  font-weight: BOLD!important;
  text-align: right!important;
}
.Product-column {
  display: flex!important;
}

.Product-container:hover {
  border-style: solid!important;
  border-width: 3px!important;
  background-color: rgb(208, 208, 208)!important;
}



@media screen and (max-width: 900px) {
  .products-home{
    display: flex;
    flex-direction: column;
    width:100vw;
    align-items: center;
    justify-content: center;
    margin-left:-50px;
  }
}

@media screen and (max-width: 500px) {
  .Product-container {
    width: 260px!important;
    margin-left: 0px!important;
    align-items: center!important;
    align-self: center!important;
    justify-content: center!important;
  }
  .product-name{
    font-size: 20px!important;

  }
  .products-home{
    margin-left:0px;
  }
}
@media screen and (max-width: 1313px) {
  .Product-container {
    width: 300px!important;

  }
  .product-name{

  }
}